.first {
	background-color: red;
	border: 1px solid black;
	width: 150px;
	height: 50px;
	padding: 10px;
}
.second {
	background-color: orange;
	border: 1px solid black;
	margin: 10px 30px;
	width: 150px;
	height: 50px;
	padding: 10px;
}
.third {
	background-color: yellow;
	border: 1px solid black;
	margin: 10px 60px;
	width: 150px;
	height: 50px;
	padding: 10px;
}
.fourth {
	background-color: green;
	border: 1px solid black;
	margin: 10px 90px;
	width: 150px;
	height: 50px;
	padding: 10px;
}
.fifth {
	background-color: blue;
	border: 1px solid black;
	margin: 10px 120px;
	width: 150px;
	height: 50px;
	padding: 10px;
}
.sixth {
	background-color: violet;
	border: 1px solid black;
	margin: 10px 150px;
	width: 150px;
	height: 50px;
	padding: 10px;
}
strong {
	color: white;
}