.container {
	margin: 0 auto;
	width: 80%;
	max-width: 1200px;
}
.row {
	width: 100%;
}
.row:after {
	content: "";
	display: table;
	clear: both;
}
.col {
	float: left;
	padding: 10px;
}
.col.half {
	width: 50%;
}
.col.third {
	width: 33.33%;
}
.col.fourth {
	width: 25%;
}
.col.sixth {
	width:  16.66%;
}
.col.eighth {
	width: 12.5%;
}
.col.twothird {
	width: 66%;
}
.col.threeeighth {
	width: 37.5%;
}
.offset-half {
	margin-left: 50%;
}
.offset-fourth {
	margin-left: 25%;
}