body {
	width: 100%;
	margin: 0 auto;
	background-color: #e1e1e1;
	font-family: Georgia, Times, Arial;
}
.deathstarimg img{
	width: 25%;
	height: 25%;
}
.topnav {
	background-color: #FFF;
	border: 1px solid black;
}
.sidenav {
	background-color: #FFF;
	border: 1px solid black;
}